/* ---------------------------------------------------------------------------*/
/* GENERAL
/* ---------------------------------------------------------------------------*/

.center {
	text-align: center;
}

/* ---------------------------------------------------------------------------*/
/* SIGN-IN AND SIGN-UP STYLES
/* ---------------------------------------------------------------------------*/
.signin .control-label,
.signup .control-label {
    padding-top: 11px; /* padding plus a border */
}

.signin .alert {
    margin-bottom: 0;
}

.proficiencies .panel label:first-child {
    padding-top: 0;
}

/* ---------------------------------------------------------------------------*/
/* UNIT STYLES
/* ---------------------------------------------------------------------------*/

.unit-index .instructions {
    margin-bottom: 30px;
}

.unit-index table {
    margin-top: 30px;
}

.unit-index .meaning:after {
    content:",";
}

.unit-index .meaning:last-child:after {
    content:"";
}

.unit-large {
    text-align: center;
    font-size: 40px;
}

/* ---------------------------------------------------------------------------*/
/* FLASHCARD STYLES
/* ---------------------------------------------------------------------------*/

.flashcard-create h1 {
    margin-bottom: 30px;
}

.flashcard-create .control-label {
    padding-top: 11px; /* padding plus a border */
}

.flashcard-create .btn {
    margin-top: 10px;
}

/* ---------------------------------------------------------------------------*/
/* DASHBOARD STYLES
/* ---------------------------------------------------------------------------*/

.dashboard h2 {
    border-bottom: 1px solid #eee;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
}

.dashboard .container {
    background: #eee;
    padding: 30px 15px;
}

.dashboard .panel {
    height: 300px;
    margin: 0;
    position: relative;
}

.dashboard .panel h3 {
    border-bottom: 1px solid #eee;
}

.dashboard .panel .progress,
.current-chapter {
    margin-top: 30px;
}

.current-chapter {
    text-align: center;
}

.current-chapter h4 {
    font-size: 16px;
}

.dashboard .continue {
    margin-top: 30px;
    text-align: center;
}

.dashboard .view-more {
    display: block;
    margin-top: 10px;
}

/* ---------------------------------------------------------------------------*/
/* COURSE, CHAPTER & DECK STYLES
/* ---------------------------------------------------------------------------*/

.course-search h1, 
.course-list h1,
.deck-list h1 {
    margin-bottom: 30px;
}

.course-search table {
    margin-top: 30px;
}

.course-show .course-header,
.deck-show .deck-header {
    margin-bottom: 30px;
    text-align: center;
}

.course-show .panel,
.chapter-show .panel {
    height: 300px;
}

.chapter-show .chapter-header {
    margin-bottom: 30px;
    text-align: center;
}

.flashcard .panel {
    font-size: 20px;
    padding: 30px 0;
    text-align: center;
}