
.center {
	text-align: center;
}

/* ---------------------------------------------------------------------------*/
/* SIGN-IN AND SIGN-UP STYLES
/* ---------------------------------------------------------------------------*/
.signup .btn[type="submit"] {
    margin-top: 10px;
}

.signin .control-label,
.signup .control-label {
    padding-top: 11px; /* padding plus a border */
}

.signin .alert {
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------------*/
/* UNIT STYLES
/* ---------------------------------------------------------------------------*/

.unit-index .instructions {
    margin-bottom: 30px;
}

.unit-index table {
    margin-top: 30px;
}

.unit-index .meaning:after {
    content:",";
}

.unit-index .meaning:last-child:after {
    content:"";
}

.unit-large {
    text-align: center;
    font-size: 40px;
}

/* ---------------------------------------------------------------------------*/
/* FLASHCARD STYLES
/* ---------------------------------------------------------------------------*/

.flashcard-create h1 {
    margin-bottom: 30px;
}

.flashcard-create .control-label {
    padding-top: 11px; /* padding plus a border */
}

.flashcard-create .btn {
    margin-top: 10px;
}