/* ---------------------------------------------------------------------------*/
/* GENERAL
/* ---------------------------------------------------------------------------*/

.navbar-brand {
    margin-top: -10px !important;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.hidden {
    display: none; /* override Bootstrap default to avoid awkward spacing */
}

body {
    background-image: url("../images/linedpaper.png"); 
    background-repeat: repeat;
    padding-top: 70px;
    padding-bottom: 40px;
}

h2.sub-heading {
    border-bottom: 1px solid #eee;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px 0;
}

/* ---------------------------------------------------------------------------*/
/* USER GUIDE STYLES
/* ---------------------------------------------------------------------------*/
.user-guide section {
    margin: 50px 0;
}

.user-guide h2 {
    clear: both;
}

.user-guide div {
    margin: 30px 0;
}

/* ---------------------------------------------------------------------------*/
/* SIGN-IN AND SIGN-UP STYLES
/* ---------------------------------------------------------------------------*/
.signin .alert {
    margin-bottom: 0;
}

.signin .control-label {
    margin-top: 10px;
}

.proficiencies .panel label:first-child {
    padding-top: 0;
}

.proficiencies .control-group:last-child label {
    margin-top: 10px;
}

.proficiencies .panel {
    margin-bottom: 15px;
}

.proficiencies .panel:last-child {
    margin-bottom: 0;
}

.signup #sign-up {
    margin-top: 15px;
}

.forgot-password h1 {
    margin-bottom: 10px;
}

.forgot-password .instructions {
    margin-bottom: 30px;
}

/* ---------------------------------------------------------------------------*/
/* UNIT STYLES
/* ---------------------------------------------------------------------------*/

.unit-index .instructions {
    margin-bottom: 30px;
}

.unit-index table {
    margin-top: 30px;
}

.unit-index .meaning:after {
    content:",";
}

.unit-index .meaning:last-child:after {
    content:"";
}

.unit-large {
    text-align: center;
    font-size: 40px;
}

/* ---------------------------------------------------------------------------*/
/* CREATE FLASHCARD STYLES
/* ---------------------------------------------------------------------------*/

.customize-heading {
    font-size: 14px;
    font-weight: bold;
}

.form-group-image,
.form-group-audio {
    border: 1px solid #ccc;
    padding: 20px;
}

.form-group-image {
    padding-bottom: 5px;
}

.flashcard-image-create {
    height: 200px;
    width: 100%;
    border: 1px solid #EEEEEE;
    margin-bottom: 10px;
    background-color: white;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url('../images/no-image.png');
}

.flashcard-create .audio-controls input {
    margin-top: 0;
}

#flickr_search {
    margin-top: 0;
}

#flickr_div {
    display: none;
}

.flashcard-create #goCreate {
    margin-top: 15px;
}

#flickr_div .pagination,
.flickr-search-container .pagination {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.flickr-search-container .pagination {
    margin-bottom: 0;
    padding-bottom: 20px;
}

#flickr_back {
    margin-right: 8px;
}

#flickr_next {
    margin-left: 8px;
}

/* ---------------------------------------------------------------------------*/
/* FLASHCARD STYLES
/* ---------------------------------------------------------------------------*/

.flashcard .panel {
    font-size: 20px;
    text-align: center;
}

.flashcard .panel-body {
    padding: 0px 0px 20px 0px;
}

.flashcard-header {
    background: #A6BDD3;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.card-actions {
    position: absolute;
    right: 8px;
    top: 8px;
}

.flashcard #customizationBtn {
    cursor: pointer;
}

.flashcard-unit {
    font-size: 100px;
    margin: 0;
    padding: 20px 0 10px;
}

.flashcard .pronunciation {
    font-size: .85em;
}

.flashcard-img {
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: whiteSmoke;
    height: 200px;;
    margin: 20px auto 0;
}

.deck-practice .flashcard,
.chapter-practice .flashcard,
.practice-body .practice-flashcard {
    float: none;
    margin: auto;
    width: 310px;
}

.progress-container {
    padding-top: 20px;
}

.ranking-container {
    width: 300px;
}

.ranking-container button {
    width: 100px;
    height: 40px;
}

.practice-body {
    background-color: #efefef;
    min-height: 460px;
    padding: 30px;
}

.meaning {
    margin-top: 20px;
}

.audio-practice {
    display: table;
    margin: 0 auto;
}

.audio-save-message {
    color: red;
    font-style: italic;
}

#flashcard-play-audio {
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    top: 3px;
}

.flashcard .play-audio {
    cursor: pointer;
    margin-left: 5px;
}

/* ---------------------------------------------------------------------------*/
/* CUSTOMIZATION STYLES
/* ---------------------------------------------------------------------------*/

#customize-container {
    background-color: #F8F8F8;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 10px 30px 30px;
}

#c_flickr_search {
    margin-left: -10px;
}

#closeCustomization {
    margin-top: 20px;
    padding: 3px 6px 1px;
}

h4#custom-audio, 
h4#custom-image {
    background-color: #25A39A;
    color: #fff;
    margin-bottom: 0;
    padding: 10px;
}

#custom-audio .small,
#custom-image .small {
    color: white;
}

#c_audioClip, #audioClip {
    margin-top: 5px;
}

.audio-warning {
    color: red;
}

.customize-image {
    margin-top: 20px;
}

.customize-audio {
    margin-bottom: 20px;
}

#custom-image-container {
    background-color: #fff;
    padding: 10px 20px 0;
}

#custom-audio-container {
    background-color: #fff;
    padding: 10px 20px 20px;
}

.audio-controls {
    margin-top: 5px;
}

#c_results {
    margin-top: 20px;
}

/* ---------------------------------------------------------------------------*/
/* LANDING PAGE STYLES
/* ---------------------------------------------------------------------------*/
.landing-page {
    margin-bottom: -40px; /* to offset padding on body tag */
}

.landing-page .container-fluid {
    background-color: #1084AC;
    border-top: 1px solid #333;
    padding-left: 0;
    padding-right: 0;
}

.landing-content {
    max-width: 970px;
    margin: auto;
    padding-bottom: 15px;
}

.landing-page .jumbotron {
    background: none;
    border-radius: 0;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.landing-page .jumbotron img {
    max-width: 100%;
}

.landing-page section {
    color: #fff;
    padding: 20px;
}

.landing-page section h2 {
    font-size: 27px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.landing-page .get-started {
    background-color: #eee;
    padding: 20px;
}

.landing-page ul {
    padding-left: 20px;
}

.landing-page .role {
    margin-bottom: 15px;
    padding-left: 10px;
}

/* ---------------------------------------------------------------------------*/
/* DASHBOARD STYLES
/* ---------------------------------------------------------------------------*/

.dashboard h2 {
    border-bottom: 1px solid #eee;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
}

.dashboard .dashboard-container {
    background: #eee;
    overflow: auto;
    padding: 30px 15px;
}

.dashboard .panel {
    margin-bottom: 0;
}

.dashboard .panel-heading *,
.course-show .panel-heading * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard .panel-body {
    height: 150px;
    margin: 0;
    position: relative;
}

.dashboard .panel-default > .panel-heading,
.dashboard .panel-footer {
    background-color: #fafafa;
}

.dashboard-decks .panel-body {
    height: 170px;
}

.dashboard-decks .progress-donut {
    padding: 0px 5px !important;
}

.dashboard .panel h3 {
    border-bottom: 1px solid #eee;
}

.current-chapter {
    text-align: center;
}

.current-chapter h4 {
    font-size: 16px;
}

.dashboard .continue {
    text-align: center;
}

.dashboard-decks .continue {
    margin-top: 0;
}

.dashboard .view-more {
    display: block;
    margin-top: 10px;
}

.researcher-dashboard .list-group-item-text {
    clear: both;
}

.researcher-dashboard .glyphicon-download {
    margin-right: 5px;
}

/* ---------------------------------------------------------------------------*/
/* COURSE, CHAPTER & DECK STYLES
/* ---------------------------------------------------------------------------*/

.course-search h1,
.deck-search h1,
.deck-list h1,
.deck-create h1,
.course-list h1,
.course-enrolled h1,
.quiz-create h1 {
    margin: 30px 0;
}

.course-search table,
.deck-search table {
    margin-top: 30px;
}

.deck-header,
.chapter-show .chapter-header {
    margin: 30px 0;
    text-align: center;
}

.deck-description,
.chapter-description {
    margin-bottom: 20px;
}

.deck-actions a {
    margin: 0px 5px;
}

.course-show h1 {
    margin-bottom: 15px;
}

.course-show h2 {
    margin-top: 20px;
}

.course-show .panel-body {
    height: 136px;
}

.course-show .panel {
    position: relative;
}

.quiz-row h4,
.course-row h4 {
    margin-bottom: 5px;
}

.take-quiz {
    margin-top: 20px;
}

.quiz-complete {
    padding: 20px 0;
}

.pagination .prevLink,
.pagination .nextLink {
    background: #ddd;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.pagination, .pagination a {
    color: #333;
}

.pagination .step, 
.pagination .currentStep {
    padding: 6px 12px;
}

.pagination .currentStep {
    font-weight: bold;
}

.paged-search {
    text-align: center;
}

.paged-search a, .currentStep {
    padding: 0px 10px;
}

.donut-container {
    height: 160px;
}

.course-show .donut-container {
    height: 165px;
}

.progress-donut {
    height: 100px;
    padding: 0px 10px !important;
    font-weight: bold;
}

.list-progress {
    width: 320px;
    height: 150px;
}

.csv-modal .modal-footer {
    margin-top: 0;
}

/* ---------------------------------------------------------------------------*/
/* IMAGES
/* ---------------------------------------------------------------------------*/

.img-result {
    height: 200px;
    width: 200px;
    margin: 5px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 50% 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    cursor: pointer;
}

.img-result:hover {
    box-shadow: 0 0 10px rgba(0,0,100,0.6);   
}

/* ---------------------------------------------------------------------------*/
/* PROFILE
/* ---------------------------------------------------------------------------*/

.profile .list-group-item+b {
    float: left;
    width: 150px;
}

.profile .proficiencies {
    padding: 5px 0 0;
}

.profile .proficiencies li {
    list-style-type: none;
}

/* ---------------------------------------------------------------------------*/
/* QUIZZES
/* ---------------------------------------------------------------------------*/

.quiz form {
    font-size: 16px;
}

.quiz form li {
    font-size: 22px;
}

.quiz form li label {
    font-weight: normal;
}

.quiz-show h1 {
    margin-bottom: 10px;
    margin-top: 30px;
}

.quiz-show .description {
    background-color: #efefef;
    margin: 30px 0 20px;
    padding: 20px 20px 10px;
}

.question-panel {
    position: relative;
}

.question-panel h1 {
    margin-bottom: 20px;
}

.quiz-create .live-time-group select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.quiz-create label[for="liveTime"] {
    display: block;
}

.quiz-create .list-unstyled {
    margin-bottom: 0;
}

.quiz-create .flashcard-select {
    background-color: #efefef;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}

.quiz-create .flashcard-select h4 {
    margin-bottom: 20px;
}

.quiz input[type="radio"] {
    margin-right: 10px;
}

.quiz .unit {
    font-size: 50px;
    margin: 60px 0;
}

.quiz #clock {
    font-size: 20px;
    padding: 10px 0 15px;
}

.quiz #clock .glyphicon-time {
    padding-right: 10px;
}

.quiz .minutes,
.quiz .seconds {
    padding: 5px 8px 4px;
    border-radius: .1em;
}

.quiz-report h1 {
    line-height: 1.5em;
    margin-bottom: 30px;
}

.quiz-report h2 {
    margin-bottom: 30px;
}

.quiz-report .warning .glyphicon-ok {
    display: none;
}

.quiz-report .glyphicon-ok {
    color: #5cb85c
}

.quiz-report thead {
    background-color: #ededed;
}





/* -------------------------------------------- */
/* Unit Mapping */
/* -------------------------------------------- */

	#units-div { 
		width: 315px; 
		float: left
	}
	
	#units-list-container li { 
		padding: 5px; 
		font-size: 1.5em; 
		cursor:pointer;
	}
	
	#units-list-container li:hover { 
		background-color:#e6e6ff; 
		border-right: 5px solid #ff33cc;
	}
	
	#units-list-container li:hover { 
		background-color: #ccccff; 
	}

  	.hidden{
    	display: none;
	}
	
	#unit-mapping-div {
		width: 800px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.unit-mapping-selection {
    	cursor: pointer;
	}  

	.orange {/* border-left: 5px solid #ff33cc; */}

	.item-mapping-span {
		font-size: 12px;
	}
	
	#unit-mapping-card-container {
		width:320px;
		margin-left: 450px;
	}
		
	#pronunciation-droppable {
	    min-height: 30px;
	    min-width: 50%;
	    border: 1px dashed;
	}

	#audio-url-droppable {
	    min-height: 30px;
	    min-width: 50%;
	    border-left: 1px dashed;
	    border-right: 1px dashed;
	    border-bottom: 1px dashed;
	    overflow: hidden;
	    white-space: nowrap;
	}
	
	.draggable-unit {
		word-wrap: break-word;
		width: 315px;
		z-index: 10;
		font: 24px/100% arial, sans-serif;
	}
	
	/* Close Button */
	[class*='close-'] {
	  color: #777;
	  font: 14px/100% arial, sans-serif;
	  position: relative;
	  right: 5px;
	  text-decoration: none;
	  text-shadow: 0 1px 0 #fff;
	  top: 0px;
	  float: right;
	  cursor: pointer;
	}

	.close-thin:after {
	  content: 'x'; /* UTF-8 symbol */
	}
		
	[class*='label-'] {
	  color: black;
	  font: 14px/100% arial, sans-serif;
	  position: relative;
	  text-decoration: none;
	  top: -5px;
	  cursor: pointer;
	}
	
	.label-literal:after {
	  content: '(literal)'; /* UTF-8 symbol */
	}	
	
	#unit-ul {
		list-style-type: none;
		padding: 0px; 
	}
	
	.unit-li {
		margin-bottom: 5px;
	}
	
	#flashcard-literal {
		min-height: 162px;
	}
		
		
	#audio-url-display {
		font: 14px/100% arial, sans-serif;
	}	
	
	#meaning-droppable {
		min-height: 50px
	}	
		
	.unit-dragging {
		border: 5px solid #61A8DC;
		text-align: center;
	}	
		
	#unit-mapping-card-container {
		width: 320px;
		margin-left: 450px;
	}
	
	.droppable-hover-white {
		border: 3px dashed gray;
	}
	
	.light-green-hover-background {
		background: #e6ffe6;
	}
	
	.dashed-border-black {
		border: 3px dashed;
	}
	
	.ul-container {
	display: table;
	margin: 0 auto;
	}
	
	modal-body ul {
		min-width: 400px;
		list-style: none;
		padding-top: 20px;
	}

	.modal-body ul li {
		display: inline;
		margin: 10px;
		
	}