
*.class

*.log
target/
OpenFluency/grails-app/conf/open-fluency-config.properties
OpenFluency/grails-app/conf/open-fluency-config.properties

OpenFluency/test/functional/GebConfig.groovy

OpenFluency-dev.h2.db
OpenFluency-dev.lock.db