
*.class

*.log
target/
OpenFluency/grails-app/conf/open-fluency-config.properties
OpenFluency/grails-app/conf/open-fluency-config.properties

OpenFluency/test/functional/GebConfig.groovy

OpenFluency-dev.h2.db
OpenFluency-dev.lock.db

OpenFluency/.project
OpenFluency/.settings
OpenFluency/.settings/org.eclipse.core.resources.prefs
OpenFluency/.settings/org.eclipse.jdt.groovy.core.prefs
OpenFluency/OpenFluency-dev.h2.db
